body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}


/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Login & Dashboard Styling */
.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logout {
    margin-top: 30px;
    background-color: #ad0909;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.login {
    margin-top: 30px;
    background-color: #189108;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1964c5;
    margin-top: 5px;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a2f69;
}

button.logout:hover {
    background-color: #7c0707;
}

button.login:hover {
    background-color: #116606;
}


.dashboard {
    display: none;
    padding: 20px;
}
